/*
    Color Palette: 
    #222629     -   Dark Grey
    #474B4F     -   Medium Grey
    #6B6E70     -   Light Grey
    #A23F13     -   Deep Orange
    #FE621D     -   Bright Orange

*/

/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

html, body {
    height: 100%;
    background-color: #222629;
    color: white;
}

footer {
    color: white;
    /*background-color: #474B4F;*/
    background: linear-gradient(to top, rgba(71,75,79, 1), rgba(71,75,79,1) 85%, rgba(71,75,79,0) 100%)
}

/*Navbar Section*/
.navbar-default {
    background-color: #474b4f;
    border-color: #222629;
    transition: all 0.3s ease;
}

.navbar-default .navbar-brand {
    color: #ffffff;
    transition: all 0.5s ease;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #fe621d;
    background-color: #222629;
    /*box-shadow: 0 0 0 3px #fe621d;*/
}

.navbar-default .navbar-text {
    color: #ffffff;
}

.navbar-default .navbar-nav > li > a {
    color: #ffffff;
    transition: all 0.5s ease;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #fe621d;
    background-color: #222629;
    /*box-shadow: 0 0 0 3px #fe621d;*/
}

.navbar-default .navbar-nav > li > .dropdown-menu {
    background-color: #474b4f;
}

.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
    color: #ffffff;
}

.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
    color: #fe621d;
    background-color: #222629;
}

.navbar-default .navbar-nav > li > .dropdown-menu > li.divider {
    background-color: #222629;
}

.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #fe621d;
    background-color: #222629;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #fe621d;
    background-color: #222629;
}.

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: #fe621d;
    background-color: #222629;
}

.navbar-default .navbar-toggle {
    border-color: #222629;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #222629;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #ffffff;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    border-color: #ffffff;
}

@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #ffffff;
    }

    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #fe621d;
    }

    .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #fe621d;
        background-color: #222629;
    }
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #222629;
}

.body-content-wrapper {
    min-height: 100%;
    height: auto;
    margin: 0 auto -40px;
    padding: 0 0 40px;
    background-color: #222629;
}

a {
    color: #FE621D;
}

a:hover {
    color: #A23F13;
}

.btn-default {
    background-color: #FE621D;
    color: #222629;
    transition: all 0.3s ease;
    border: inset 2px #222629;
}

.btn-default:hover {
    color: white;
    background-color: #A23F13;
    border: groove 3px #474B4F;
}

.btn-default:active {
    color: white;
    background-color: #A23F13;
    border: groove 3px #474B4F;
}

.text-only-page-content {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 767px) {
    .text-only-page-content {
        width: 90%;
    }
}

.center-box{
    display: flex;
    height: auto;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
}

/* Footer Styling */
.footer {
    height: 40px;
    width: 100%;
}

footer {
    height: 100%;
    width: 100%;
    vertical-align: middle;
    text-align: center;
}

    footer p {
        float: left;
        vertical-align: middle;
        color: white;
        padding-left: 15px;
        padding-top: 10px;
    }

/* Social Footer Icons */
.social_icons_rounded ul {
    padding: 0;
    list-style: none;
    padding-top: 10px;
    padding-right: 15px;
    vertical-align: middle;
}

    .social_icons_rounded ul li a {
        float: right;
        border-radius: 50%;
        line-height: 25px;
        color: #e0e0e0;
        height: 25px;
        width: 25px;
        text-align: center;
        border: 1px solid #e0e0e0;
    }

        .social_icons_rounded ul li a i {
            font-size: 10px;
        }

.f_facebook:hover {
    color: #fff;
    background: #2a66b3;
    border: 1px solid #2a66b3;
    transition: all 0.3s ease;
}

.t_twitter:hover {
    color: #fff;
    background: #35bbec;
    border: 1px solid #35bbec;
    transition: all 0.3s ease;
}

.linkedin:hover {
    color: #fff;
    background: #007bb5;
    border: 1px solid #007bb5;
    transition: all 0.3s ease;
}

.skype:hover {
    color: #fff;
    background: #01aaf8;
    border: 1px solid #01aaf8;
    transition: all 0.5s ease;
}

.gap {
    margin-left: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
