@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>This page will eventually have all the information you would ever like to know about me. Stay tuned!</p>
