@{
    ViewData["Title"] = "Contact me!";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Hot Hash Games<br />
    616 Albemarle St<br />
    Bluefield, WV 24701<br />
    <abbr title="Phone">P:</abbr>
    304.960.9947
</address>

<address>
    <strong>All Inquiries:</strong> <a href="mailto:hothashgames@gmail.com">HotHashGames@gmail.com</a>
</address>
