
@{
    ViewData["Title"] = "Thank You";
}

<div class="text-only-page-content">
    <h2>Thank You!</h2><br />
    <br />
    <p>
        Thank you so much for supporting Hot Hash Games!!!<br />
        <br />
        <br />
        Your donation will go towards supporting this website and our games! <br />
        Hosting fees to keep this website up are not cheap. It also costs alot to be able to deploy
        games to the Apple App Store and Google Play stores, so your donations are making all of
        that possible! If more donations are received over our opporating costs, all that money
        will go into artwork / music for our games. I am solely a software developer, if it wasn't
        for the artists, our games would be stickman games!<br />
        <br />
        Again, THANK YOU from the bottom of our hearts! We appreciate every bit of your support!
        <br />
        <br />
        <br />
        P.S.  Don't forget to share our games with your friends! Games are more fun with friends!
    </p>
</div>
