
@{
    ViewData["Title"] = "Thanks For Considering";
}

<div class="text-only-page-content">
    <h2>Thank You for Considering</h2><br />
    <br />
    <p>
        Thank you for considering to donate!<br />
        <br />
        <br />
        Donations are nice, but your support is even better! <br />
        We do appreciate all of our donations, but more importantly than any money you can give 
        us is your support! We appreciate you playing and sharing our games. As an indie game 
        developer, our players and fans are the only way our games spread! You telling your 
        friends means so much, so thank you for any support you can give! <br />
        <br />
        Again, THANK YOU from the bottom of our hearts! We appreciate every bit of your support!
        <br />
        <br />
        <br />
        P.S.  Don't forget to share our games with your friends! Games are more fun with friends!
    </p>
</div>
