.bubble-container {
    width = 100%;
    display: flex;
    justify-content: center;
}

.bubble-container .webgl-content {
    width: 960px;
    justify-self: center;
}

.bubble-container .webgl-content #unityContainer {
    width: 960px;
    height: 600px;
    justify-self: center;
}

.bubble-container .webgl-content #unityContainer * {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.bubble-container .webgl-content .logo, .progress {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.bubble-container .webgl-content .logo {
    background: url('progressLogo.Light.png') no-repeat center / contain;
    width: 154px;
    height: 130px;
}
.bubble-container .webgl-content .progress {
    height: 18px;
    width: 141px;
    margin-top: 90px;
}
.bubble-container .webgl-content .progress .empty {
    background: url('progressEmpty.Light.png') no-repeat right / cover;
    float: right;
    width: 100%;
    height: 100%;
    display: inline-block;
}
.bubble-container .webgl-content .progress .full {
    background: url('progressFull.Light.png') no-repeat left / cover;
    float: left;
    width: 0%;
    height: 100%;
    display: inline-block;
}

.bubble-container .webgl-content .logo.Dark {
    background-image: url('progressLogo.Dark.png');
}
.bubble-container .webgl-content .progress.Dark .empty {
    background-image: url('progressEmpty.Dark.png');
}
.bubble-container .webgl-content .progress.Dark .full {
    background-image: url('progressFull.Dark.png');
}

.bubble-container .webgl-content .webgl-footer {
    margin-top: 5px;
    height: 38px;
    line-height: 38px;
    font-family: Helvetica, Verdana, Arial, sans-serif;
    font-size: 18px;
}
.bubble-container .webgl-content .webgl-footer .webgl-logo, .title, .fullscreen {
    height: 100%;
    display: inline-block;
    background: transparent center no-repeat;
}
.bubble-container .webgl-content .webgl-footer .webgl-logo {
    background-image: url('webgl-logo.png');
    width: 204px;
    float: left;
}
.bubble-container .webgl-content .webgl-footer .title {
    margin-right: 10px;
    float: right;
}
.bubble-container .webgl-content .webgl-footer .fullscreen {
    background-image: url('fullscreen.png');
    width: 38px;
    float: right;
}
